/*table {
    border: solid black 2px;
}
td {
    outline: solid 1px #000033;
}
#0 {
    background-color: #FFCC99;
    color: green;
}
#1 {
    width: 45 px;
    background-color: #FFCC99;
    text-align: center;
    color: #660000;
}
#2 {
    width: 65px;
    background-color: #FFCC99;
    text-align: center;
    color: green;
}
#3 {
    width: 65px;
    background-color: #FFFFCC;
    text-align: center;
    overflow: hidden;
    color: #660000;
} */

#menu
{
	background-color: #303030;
	color: #ffffff;
	padding: 10px;
}

.option
{
	float: left;
	min-width: 120px;
	height: 25px;
	font-size: 18px;
	border-right: 2px dotted #444444;
	opacity: 0.8;
        text-align: center;
}

.neutrallink
{
	text-decoration: none;
	color: #ffffff;
}

.option:hover
{
	background-color: #000000;
	cursor: pointer;
        color:white;
}