
input 
{
    margin-bottom: 10px;
}

/*#menu
{
	background-color: #303030;
	color: #ffffff;
	padding: 10px;
}*/

#login-img 
{
    width: 50%;
    height: auto;
}
/*.neutrallink
{
	text-decoration: none;
	color: #ffffff;
}*/

.info
{
    padding-left: 10px;
    text-align: right;
    font-size: 20px;
}

.planinput
{
    width: 330px;
}

table
{
    border: 1px solid black;
    text-align: left;
    background-color: #efefef;
    margin-top: 10px;
    margin-bottom: 10px;
    width: 100%;
    
    
}

tr
{
    border: 1px solid black;
     
}

thead > tr
{
    text-align: center;
    background-color: lightgray;
   
}

.spantype
{
    float:right;
}
@media screen and (min-width:680px) 
{
    .table_left
    {
        float:left;
        max-width: 19%;
        display: block;
    }
}

#tabels
{
    margin-left: 1%;
    margin-right: 1%;
}

#error_message {
 
    clear: both; 
}
 
.sign-in-button {
 
    height: 50px;
    width: 150px;
 
}
.modifySelect {
 
    width: 330px;
}
 
#inputDaysValue {
    width: 40px; 
    height: 30px;
}
 
#id_custom_periodicity {
    width: 150px; 
    height: 30px;
}
  
#custom_day_periodicity {
    width: 150px;
    height: 30px;
}
 
#periodicity {
    margin-bottom: 20px;
}

#interval
{
    float:left;
    width: 60%;
    text-align: right;
}

#choice
{
    float:left;
    width: 40%;
    text-align: right;
}

