
input 
{
    margin-bottom: 10px;
}

/*#menu
{
	background-color: #303030;
	color: #ffffff;
	padding: 10px;
}*/

#login-img 
{
    width: 50%;
    height: auto;
}
/*.neutrallink
{
	text-decoration: none;
	color: #ffffff;
}*/

.info
{
    padding: 5px;
    text-align: right;
    font-size: 20px;
}

.planinput
{
    width: 330px;
}

table
{
    border: 1px solid black;
    text-align: left;
    background-color: #efefef;
    margin-top: 10px;
    margin-bottom: 10px;
    width: 283px;
}

tr
{
    border: 1px solid black;
    height: 133px; 
}

thead > tr
{
    text-align: center;
    background-color: lightgray;
    height: 27px; 
}

.hour
{
    font-size: 13px;
}

.name
{
    font-size: 20px;
}

.spantype
{
    float:right;
}

.table_left
{
    float:left;
}

#tabels
{
    margin-left: auto;
    margin-right: auto;
    max-width: 1425px;
}
